@font-face {
	font-family: 'Avenir Next';
	src: url('/fonts/Avenir Next.tfc');
}

body {
	font-family: 'Avenir Next', 'Cabin', sans-serif;
    color: #4A4A4A;
    font-size: 14px;
    line-height: 22px;
}

h1 {
	font-style: 'Avenir Next', 'Cabin', sans-serif;
	color:#000000;
	font-weight: 600;
	font-size: 26px;
	line-height: 36px;
}
h2,
h3,
h4,
h5{

}

p {

}

blockquote {

}

.header{
	background-color: #016FC4;

}

.menubar {
	background-color: #F7F6F6;

}