@font-face {
	font-family: 'Avenir Next';
	src: url('/fonts/Avenir Next.tfc');
}

body {
	font-family: 'Avenir Next', 'Cabin', sans-serif;
    color: #4A4A4A;
    font-size: 16px;
    line-height: 22px;
}

h1 {
	font-family: 'Crimson Text', serif;
	color:#343434;
	font-weight: 400;
	font-size: 54px;
	line-height: 75px;
}

h1 header{
	color: #ffffff;
	font-family: 'Avenir Next', 'Cabin', sans-serif;
	font-size: 16px;
	font-weight: 400;
	line-height: 0px;
	letter-spacing: 2px;
}

.header h1, .header h1 a, .header h1 a:visited {
	color: #ffffff;
	font-family: 'Avenir Next', 'Cabin', sans-serif;
	font-size: 16px;
	font-weight: 400;
	line-height: 0px;
	letter-spacing: 2px; 
}

h2{
	font-family: 'Crimson Text', serif;
	color:#343434;
	font-weight: 400;
	font-size: 42px;
	line-height: 58px;
}

h3{
	font-family: 'Avenir Next', 'Cabin', sans-serif;
	font-size: 20px;
	font-weight: 600;
	line-height: 27px;
	letter-spacing: 3px;
	color: #9B9B9B;
	text-transform: uppercase;

}

h4{
	font-family: 'Avenir Next', 'Cabin', sans-serif;
	font-size: 16px;
	font-weight: 400;
	line-height: 22px;
	letter-spacing: 2px;
	color: #C7C7C7;

}

p {
	font-family: 'Avenir Next', 'Cabin', sans-serif;
    color: #4A4A4A;
    font-size: 16px;
    line-height: 22px;
}

ul{
	font-family: 'Avenir Next', 'Cabin', sans-serif;
    color: #4A4A4A;
    font-size: 16px;
    line-height: 22px;
}

ul.menu-items{
	text-decoration: none;
	font-family: 'Avenir Next', 'Cabin', sans-serif;
    color: #4A4A4A;
    font-size: 16px;
    line-height: 22px;
}

a {
	color: #016FC4;
	font-weight: 600;
	text-decoration: none;
}

a:visited {
	color: #016FC4;
	font-weight: 600;
	text-decoration: none;
}

a:hover{
	color: #016FC4;
	font-weight: 600;
	text-decoration: none;
}

li{
	font-family: 'Avenir Next', 'Cabin', sans-serif;
    color: #4A4A4A;
    font-size: 16px;
    line-height: 22px;
}
ol{
	font-family: 'Avenir Next', 'Cabin', sans-serif;
    color: #4A4A4A;
    font-size: 16px;
    line-height: 22px;
}

blockquote {

}

.header{
	background-color: #016FC4;

}

.menubar {
	background-color: #F7F6F6;

}