@font-face {
	font-family: 'Avenir Next';
	src: url('/fonts/Avenir Next.tfc');
}

body {
	font-family: 'Avenir Next', 'Cabin', sans-serif;
    color: #4A4A4A;
    font-size: 16px;
    line-height: 22px;
}

h1 {
	font-family: 'Crimson Text', serif;
	color:#343434;
	font-weight: 400;
	font-size: 54px;
	line-height: 75px;
}

.content-header {
	font-family: 'Crimson Text', serif;
	color:#343434;
	font-weight: 400;
	font-size: 54px;
	line-height: 75px;
}

.custom-header{
	color: #ffffff;
	font-family: 'Avenir Next', 'Cabin', sans-serif;
	font-size: 16px;
	font-weight: 400;
	line-height: 0px;
	letter-spacing: 2px;
}

h2{
	font-family: 'Crimson Text', serif;
	color:#343434;
	font-weight: 400;
	font-size: 42px;
	line-height: 58px;
}

h3{
	font-family: 'Avenir Next', 'Cabin', sans-serif;
	font-weight: 600;
	font-size: 16px;
	line-height: 27px;
	letter-spacing: 3px;
	color: #9B9B9B;
	text-transform: uppercase;

}


h4{
	font-family: 'Avenir Next', 'Cabin', sans-serif;
	font-size: 16px;
	font-weight: 400;
	line-height: 22px;
	letter-spacing: 2px;
	color: #C7C7C7;

}

p {
	font-family: 'Avenir Next', 'Cabin', sans-serif;
    color: #4A4A4A;
    font-size: 16px;
    line-height: 22px;
}

a {
	color: #016FC4;
	font-weight: 600;
	text-decoration: none;
}

a:visited {
	color: #016FC4;
	font-weight: 600;
	text-decoration: none;
}

a:hover{
	color: #016FC4;
	font-weight: 600;
	text-decoration: none;
}


ul{
	font-family: 'Avenir Next', 'Cabin', sans-serif;
    color: #4A4A4A;
    font-size: 16px;
    line-height: 22px;
}

li{
	font-family: 'Avenir Next', 'Cabin', sans-serif;
    color: #4A4A4A;
    font-size: 16px;
    line-height: 22px;
}

.header{
	background-color: #016FC4;

}

.menubar {
	background-color: #F7F6F6;

}

.menubar-header {
	font-size: 16px;
	line-height: 22px;
	padding-top: 1rem;
}


.menubar-item{
	font-family: 'Avenir Next', 'Cabin', sans-serif;
    color: #4A4A4A;
    font-size: 16px;
    line-height: 38px;
}

.menubar-list{
	text-decoration: none;
	font-family: 'Avenir Next', 'Cabin', sans-serif;
    color: #4A4A4A;
    font-size: 16px;
    line-height: 22px;
}


.custom-header-list {
	font-family: 'Avenir Next', 'Cabin', sans-serif;
    font-size: 16px;
    line-height: 22px;
    display: block;
    float: left;
    color: #ffffff;

}

ol{
	font-family: 'Avenir Next', 'Cabin', sans-serif;
    color: #4A4A4A;
    font-size: 16px;
    line-height: 22px;
}

blockquote {

}

